BODY {font-size: .7em; margin: 0; padding: 0 10px 10px 10px;}
BODY, TABLE {font-family: tahoma, sans-serif;}

H1,H2,H3 {margin:0 0 0 0; color:#666666; background:transparent;}
H1 {font-size:2.4em; font-weight:normal;}
H2 {font-size:1.5em; font-weight:normal;}
H3 {font-size:1.1em;}
P {font-size:1em; margin:0 0 1em 0;}

TABLE {font-size:1em; empty-cells:show;}
TFOOT {font-weight:bold;}
CAPTION {text-align:left; font-weight:bold; font-style:normal; font-size:1.2em;}
TH, TD {text-align:left;}

UL, OL {margin-top:0; margin-bottom:0;margin-left:2em;}
UL {list-style-type:square;}
OL {list-style-type:decimal;}
LI {list-style-position:outside;}
LI LI {list-style-position:outside;}

BLOCKQUOTE { margin: 1em 2em 1em 2em; }

HR {border:inset;}
IMG {border:none;}

/*newWindow*/
.newWindow {color:#000000; background:#ffffff; padding:0 2em 2em 2em;}
.showCV {margin:1.5em 0 0 0;}
.newWindow .logo {position:absolute; top:0; left:84%; width:63px;}
.showCV H1 {border-bottom:double #336666;}
.showCV H2 {font-size: 1.6em; margin-top:.5em; /*border-bottom:1px solid #336666;*/}
.showCV TD, .showCV TH {border-bottom:1px solid #cccccc;}
.showCV TABLE {width:100%;}
.showCV TR {vertical-align:top;}

/*minor details... major impacts*/
.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}
.warning {color:#ff0000; background:transparent;}
.top {vertical-align:top;}
