BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 70%;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: #000;
    PADDING-TOP: 0px
}
BODY
{
    FONT-FAMILY: tahoma, sans-serif
}
TABLE
{
    FONT-FAMILY: tahoma, sans-serif
}
H1
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    MARGIN: 0px;
    COLOR: #000;
    FONT-FAMILY: verdana, sans-serif
}
H2
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    MARGIN: 0px;
    COLOR: #000;
    FONT-FAMILY: verdana, sans-serif
}
H3
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    MARGIN: 0px;
    COLOR: #000;
    FONT-FAMILY: verdana, sans-serif
}
H4
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    MARGIN: 0px;
    COLOR: #000;
    FONT-FAMILY: verdana, sans-serif
}
H5
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    MARGIN: 0px;
    COLOR: #000;
    FONT-FAMILY: verdana, sans-serif
}
H6
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    MARGIN: 0px;
    COLOR: #000;
    FONT-FAMILY: verdana, sans-serif
}
H1
{
    FONT-SIZE: 160%
}
H2
{
    FONT-SIZE: 120%;
    MARGIN-BOTTOM: 2px;
    PADDING-TOP: 3px;
    LETTER-SPACING: -1px
}
H3
{
    FONT-SIZE: 110%
}
H4
{
    FONT-SIZE: 100%
}
H5
{
    FONT-SIZE: 100%
}
H6
{
    FONT-SIZE: 100%
}
P
{
    FONT-SIZE: 100%;
    MARGIN: 0px 0px 1em
}
A:link
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #800000;
    TEXT-DECORATION: underline
}
A:visited
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #551a8b;
    TEXT-DECORATION: underline
}
A:hover
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A:active
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #990000;
    TEXT-DECORATION: underline
}
TABLE
{
    FONT-SIZE: 100%;
    empty-cells: show
}
TFOOT
{
    FONT-WEIGHT: bold
}
CAPTION
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 120%;
    FONT-STYLE: normal;
    TEXT-ALIGN: left
}
TR
{
    VERTICAL-ALIGN: top
}
TH
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: left
}
TD
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: left
}
UL
{
    PADDING-RIGHT: 0px;
    MARGIN-TOP: 0.5em;
    PADDING-LEFT: 0px;
    MARGIN-BOTTOM: 0.5em;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 2em;
    PADDING-TOP: 0px
}
OL
{
    PADDING-RIGHT: 0px;
    MARGIN-TOP: 0.5em;
    PADDING-LEFT: 0px;
    MARGIN-BOTTOM: 0.5em;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 2em;
    PADDING-TOP: 0px
}
UL
{
    LIST-STYLE-TYPE: square
}
OL
{
    LIST-STYLE-TYPE: decimal
}
LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 0.3em;
    MARGIN-LEFT: 1em;
    PADDING-TOP: 0px
}
LI LI
{
    LIST-STYLE-POSITION: outside
}
FORM
{
    MARGIN: 0px
}
INPUT
{
    FONT: 100% tahoma, sans-serif
}
SELECT
{
    FONT: 100% tahoma, sans-serif
}
TEXTAREA
{
    FONT: 100% tahoma, sans-serif
}
INPUT
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid
}
SELECT
{
    WIDTH: 140px
}
SELECT.LongStyle
{
    WIDTH: 230px
}
TEXTAREA
{
    BORDER-RIGHT: #000 1px solid;
    BORDER-TOP: #000 1px solid;
    BORDER-LEFT: #000 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #000 1px solid;
    HEIGHT: 100px
}
INPUT.radio
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    WIDTH: 16px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 16px
}
INPUT.checkbox
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    WIDTH: 16px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 16px
}
BLOCKQUOTE
{
    MARGIN: 1em 2em
}
HR
{
    BORDER-RIGHT: inset;
    BORDER-TOP: inset;
    BORDER-LEFT: inset;
    BORDER-BOTTOM: inset
}
IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
.topMenu
{
    DISPLAY: block
}
.navMenu
{
    DISPLAY: block
}
.container
{
    DISPLAY: block
}
.content
{
    DISPLAY: block
}
.topmenuBody
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
.topMenu A:link
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #fff;
    TEXT-DECORATION: none
}
.topMenu A:visited
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #fff;
    TEXT-DECORATION: none
}
.topMenu A:active
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #fff;
    TEXT-DECORATION: none
}
.topMenu A:hover
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #fff;
    TEXT-DECORATION: underline
}
.small
{
    WIDTH: 100px
}
.medium
{
    WIDTH: 150px
}
.large
{
    WIDTH: 200px
}
.navMenuBody
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: #000;
    PADDING-TOP: 2px
}
.navMenu
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    MARGIN: 1px 0px;
    COLOR: #000;
    WHITE-SPACE: nowrap;
    HEIGHT: 24px
}
.navMenu A
{
    PADDING-RIGHT: 6px;
    DISPLAY: list-item;
    PADDING-LEFT: 6px;
    FLOAT: left;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 1px;
    WIDTH: auto;
    PADDING-TOP: 1px
}
.navMenu A:link
{
    BORDER-RIGHT: #001052 1px solid;
    BORDER-TOP: #ced6de 1px solid;
    BACKGROUND: #fff;
    BORDER-LEFT: #ced6de 1px solid;
    COLOR: #000;
    BORDER-BOTTOM: #001052 1px solid;
    TEXT-DECORATION: none
}
.navMenu A:visited
{
    BORDER-RIGHT: #001052 1px solid;
    BORDER-TOP: #ced6de 1px solid;
    BACKGROUND: #fff;
    BORDER-LEFT: #ced6de 1px solid;
    COLOR: #000;
    BORDER-BOTTOM: #001052 1px solid;
    TEXT-DECORATION: none
}
.navMenu A:active
{
    BORDER-RIGHT: #001052 1px solid;
    BORDER-TOP: #ced6de 1px solid;
    BACKGROUND: #fff;
    BORDER-LEFT: #ced6de 1px solid;
    COLOR: #000;
    BORDER-BOTTOM: #001052 1px solid;
    TEXT-DECORATION: none
}
.navMenu A:hover
{
    BORDER-RIGHT: #ced6de 1px solid;
    BORDER-TOP: #001052 1px solid;
    BACKGROUND: #fff;
    BORDER-LEFT: #001052 1px solid;
    COLOR: #000;
    BORDER-BOTTOM: #ced6de 1px solid;
    TEXT-DECORATION: none
}
.topMenu
{
    FONT-WEIGHT: bold;
    WIDTH: 100%;
    COLOR: #fff
}
.topMenu IMG
{
    DISPLAY: block
}
.topMenuItem1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 32px;
    BACKGROUND: url(../images/button_topMenu.gif) no-repeat 0px 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 110px;
    PADDING-TOP: 8px;
    POSITION: absolute;
    TOP: 8px;
    HEIGHT: 100px
}
.topMenuItem2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 32px;
    BACKGROUND: url(../images/button_topMenu.gif) no-repeat 0px 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 110px;
    PADDING-TOP: 8px;
    POSITION: absolute;
    TOP: 8px;
    HEIGHT: 100px
}
.topMenuItem3
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 32px;
    BACKGROUND: url(../images/button_topMenu.gif) no-repeat 0px 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 110px;
    PADDING-TOP: 8px;
    POSITION: absolute;
    TOP: 8px;
    HEIGHT: 100px
}
.topMenuItem4
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 32px;
    BACKGROUND: url(../images/button_topMenu.gif) no-repeat 0px 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 110px;
    PADDING-TOP: 8px;
    POSITION: absolute;
    TOP: 8px;
    HEIGHT: 100px
}
.topMenuItem5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 32px;
    BACKGROUND: url(../images/button_topMenu.gif) no-repeat 0px 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 110px;
    PADDING-TOP: 8px;
    POSITION: absolute;
    TOP: 8px;
    HEIGHT: 100px
}
.topMenuItem1
{
    Z-INDEX: 20;
    LEFT: 132px
}
.topMenuItem2
{
    Z-INDEX: 5;
    LEFT: 231px
}
.topMenuItem3
{
    Z-INDEX: 4;
    LEFT: 330px
}
.topMenuItem4
{
    Z-INDEX: 3;
    LEFT: 429px
}
.topMenuItem5
{
    Z-INDEX: 2;
    LEFT: 528px
}
.topMenuBorder
{
    DISPLAY: block;
    Z-INDEX: 10;
    BACKGROUND: #000;
    LEFT: 0px;
    WIDTH: 100%;
    POSITION: absolute;
    TOP: 32px;
    HEIGHT: 1px
}
.pageContainer
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 0px;
    COLOR: #000;
    PADDING-TOP: 0px
}
TABLE.layout
{
    WIDTH: auto
}
.content
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.content2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.contentHead
{
    PADDING-RIGHT: 0.5%;
    PADDING-LEFT: 0.5%;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.contentHead1
{
    PADDING-RIGHT: 0.5%;
    PADDING-LEFT: 0.5%;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.content
{
    BORDER-RIGHT: #001052 1px solid;
    BORDER-TOP: #ced6de 1px solid;
    BACKGROUND: #eff7f7;
    MARGIN-BOTTOM: 10px;
    BORDER-LEFT: #ced6de 1px solid;
    COLOR: #000;
    BORDER-BOTTOM: #001052 1px solid
}
.contentHead1
{
    BACKGROUND: url(../images/topContentHeader5.gif) fixed no-repeat right top;
    BORDER-LEFT: #737371 1px solid;
    BORDER-BOTTOM: #737371 1px solid
}
.contentHead1 H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px 0px 4px;
    PADDING-TOP: 4px
}
.contentMenu
{
    VERTICAL-ALIGN: middle
}
.contentMenu2
{
    VERTICAL-ALIGN: middle
}
.contentMenu SELECT
{
    WIDTH: auto
}
.contentMenu A:link
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu A:visited
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu A:hover
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu A:active
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu2 A:link
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu2 A:visited
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu2 A:hover
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu2 A:active
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.contentMenu2
{
    BORDER-RIGHT: #333333 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ffffff 2px solid;
    PADDING-LEFT: 7px;
    BACKGROUND: #e6e6e6;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #737371 1px solid;
    COLOR: #000;
    PADDING-TOP: 6px;
    BORDER-BOTTOM: #737371 1px solid
}
.contentMenu2 .active
{
    FONT-SIZE: 12px;
    BACKGROUND: white
}
.menu2
{
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #999999 1px solid;
    PADDING-TOP: 1px
}
.contentHead
{
    BORDER-RIGHT: #001052 1px solid;
    BORDER-TOP: #001052 1px solid;
    MARGIN-TOP: 10px;
    BACKGROUND: #d6dee7;
    BORDER-LEFT: #001052 1px solid;
    BORDER-BOTTOM: #001052 1px solid
}
.contentHead H1
{
    PADDING-LEFT: 8px;
    BACKGROUND: url(../images/icon_contentHeader.gif) no-repeat 0px 55%
}
.contentHead H2
{
    PADDING-LEFT: 8px;
    BACKGROUND: url(../images/icon_contentHeader.gif) no-repeat 0px 55%
}
.contentHeadOpen
{
    BACKGROUND-POSITION: 99% 4px;
    BACKGROUND-IMAGE: url(../images/icon_Opened2.gif);
    BACKGROUND-REPEAT: no-repeat
}
.contentHeadClosed
{
    BACKGROUND-POSITION: 99% 4px;
    BACKGROUND-IMAGE: url(../images/icon_Closed2.gif);
    BACKGROUND-REPEAT: no-repeat
}
.content TABLE
{
    WHITE-SPACE: nowrap;
    empty-cells: show
}
.content TABLE TR
{
    VERTICAL-ALIGN: top
}
.content TD TABLE TR
{
    VERTICAL-ALIGN: middle
}
.content .insideElement
{
    BORDER-RIGHT: #336666 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #336666 1px solid;
    MARGIN-TOP: 4px;
    PADDING-LEFT: 4px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #336666 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #336666 1px solid
}
.menuInside A:link
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.menuInside A:visited
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.menuInside A:hover
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.menuInside A:active
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.menuInside
{
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 4px;
    MARGIN-BOTTOM: 2px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #999999 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #999999 1px solid
}
.menu
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #999999 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid
}
.menu IMG
{
    PADDING-RIGHT: 2px
}
.listing
{
    MARGIN: 10px 0px
}
.listing TH
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.listing TD
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.listing TH
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    BACKGROUND: #d6dee7;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 3px
}
.followUp TH
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    BACKGROUND: #d6dee7;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 3px
}
.listing TD
{
    BORDER-BOTTOM: #d6dee7 1px solid
}
.reportTable
{
    WIDTH: 80%
}
.newWindow
{
    PADDING-RIGHT: 2em;
    PADDING-LEFT: 2em;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 2em;
    COLOR: #000;
    PADDING-TOP: 0px
}
.showCV
{
    MARGIN: 1.5em 0px 0px
}
.newWindow .logo
{
    LEFT: 84%;
    WIDTH: 63px;
    POSITION: absolute;
    TOP: 0px
}
.showCV H1
{
    BORDER-BOTTOM: #336666 double
}
.showCV H2
{
    MARGIN-TOP: 0.5em;
    FONT-SIZE: 160%
}
.showCV TD
{
    BORDER-BOTTOM: #cccccc 1px solid
}
.showCV TH
{
    BORDER-BOTTOM: #cccccc 1px solid
}
.showCV TABLE
{
    WIDTH: 100%
}
.showCV TR
{
    VERTICAL-ALIGN: top
}
.left
{
    TEXT-ALIGN: left
}
.center
{
    TEXT-ALIGN: center
}
.right
{
    TEXT-ALIGN: right
}
.warning
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #ff0000
}
.top
{
    VERTICAL-ALIGN: top
}
.mandatory
{
    BACKGROUND: #ffff99
}
.readOnly
{
    BACKGROUND: #e6e6e6
}
.disabled
{
    FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=50)
}
.normal
{
    FONT-WEIGHT: normal
}
.sizeA
{
    WIDTH: 30px
}
.sizeB
{
    WIDTH: 100px
}
.sizeC
{
    WIDTH: 70px
}
.sizeD
{
    WIDTH: 40px
}
.noBreak
{
    WHITE-SPACE: nowrap
}
.noTDBorder
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
.noTHColor
{
    BACKGROUND: none transparent scroll repeat 0% 0%
}
.container
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    OVERFLOW: auto;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000 1px solid
}
.fileContainer
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    OVERFLOW: auto;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000 1px solid
}
.container
{
    WIDTH: 190px;
    HEIGHT: 87px
}
.fileContainer
{
    WIDTH: 100%;
    HEIGHT: 100px
}
.fileContainer .listing
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    PADDING-TOP: 1px
}
.Searchcontainer
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 0px;
    OVERFLOW: auto;
    BORDER-LEFT: #000 1px solid;
    WIDTH: 450px;
    COLOR: #000;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000 1px solid;
    HEIGHT: 105px
}
.divContainer
{
    BORDER-RIGHT: thin ridge;
    BORDER-TOP: thin ridge;
    DISPLAY: block;
    OVERFLOW: auto;
    BORDER-LEFT: thin ridge;
    BORDER-BOTTOM: thin ridge;
    WIDTH: 150px;
    HEIGHT: 87px;
    BACKGROUND: white;
}


.Logo_white_outline{
	background-image: url(../images/logo_white_outline.gif);
	background-repeat: no-repeat;
	background-position: 15px 12px;
	background-color:#2F7954;
	height:74px;
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #B6D3C4;
}
.shade {
	background-attachment: scroll;
	background-image: url(../images/shade.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 31px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2F7954;
}