<?xml version="1.0" encoding="Windows-1252" ?>
<configuration>
  <!--
	<add pattern="MEDIA" tab="MEDIA" text="MEDIA" control="Tag_Media.asp"/>
	<add pattern="FLASH" tab="FLASH" text="FLASH" control="Tag_Flash.asp"/>
	<add pattern="OBJECT|FLASH|MEDIA" tab="OBJECT" text="OLEOBJECT" control="Tag_Object.asp"/>
	
	-->
  <add pattern="FORM" tab="FORM" text="InsertForm" control="Tag_Form.asp" />
  <add pattern="SELECT" tab="SELECT" text="ListBox" control="Tag_Select.asp" />
  <add pattern="TextArea" tab="TextBox" text="TextBox" control="Tag_TextArea.asp" />
  <add pattern="INPUT" tab="INPUT" text="INPUT" control="Tag_Input.asp" />
  <add pattern="A" tab="A" text="LINK" control="Tag_A.asp" />
  <add pattern="HR" tab="HR" text="HR" control="Tag_HR.asp" />
  <add pattern="TABLE,InsertTable" tab="InsertTable" text="Table Wizard" control="Tag_InsertTable.asp" />
  <add pattern="TABLE,InsertTable" tab="TABLE" text="Table" control="Tag_Table.asp" />
  <add pattern="IMG" tab="IMG" text="Image" control="Tag_Image.asp" />
  <add pattern="TR" tab="TR" text="TR" control="Tag_TR.asp" />
  <add pattern="DIV" tab="DIV" text="DIV" control="Tag_DIV.asp" />
  <add pattern="TD" tab="TD" text="TD" control="Tag_TD.asp" />
  <add pattern="LI" tab="LI" text="LI" control="Tag_LI.asp" />
  <add pattern="UL" tab="UL" text="UL" control="Tag_LI.asp" />
  <add pattern="OL" tab="OL" text="OL" control="Tag_LI.asp" />
  <add pattern="*" tab="Common" text="Common" control="Tag_Common.asp" />
  <add pattern="*" tab="Style" text="StyleBuilder" control="Tag_Style.asp" />	
</configuration>